<meta charset="utf-8">
<input hidden name="contentid" th:value="${common['contentid']}">
<h1 ></h1>
<div class="common-info">
<img th:src="${common['firstimage']}" class="common-img">
<div>
<h5 th:utext ="'홈페이지 :'+${common['homepage']}"></h5>
<h5 th:utext ="'주소 :'+${common['addr1']}"></h5>
<h5 th:utext ="'우편번호 :'+${common['zipcode']}"></h5>
<h5 th:utext ="'전화명 :'+${common['telname']}"></h5>
<h5 th:utext ="'전화번호 :'+${common['tel']}"></h5>
</div>
</div>
<hr>
<h3>개요</h3>
<p th:utext="${common['overview']}">Lorem ipsum...</p>