<meta charset="utf-8">
<!-- kakamap javascript -->

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1f0d8b55d9f1a8931df0a3ae663baf4e"></script>


<link rel="stylesheet" href="/css/detail.css">
<section class="hero-wrap hero-wrap-2 js-fullheight"
	th:style="'background-image:url('+@{${festival.firstimage}}+');'">
	<div class="overlay"></div>
	<div class="container">
		<div
			class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<p class="breadcrumbs">
					<span class="mr-2"><a href="/">Home <i
							class="fa fa-chevron-right"></i></a></span> <span>Festival Detail<i
						class="fa fa-chevron-right"></i></span>
				</p>
				<h1 id="ftitle" class="mb-0 bread" th:utext="${festival.title}">
				</h1>
			</div>
		</div>
	</div>
</section>

<!-- 상세 header -->
<section class="detail-header ftco-section2 container">
	<div class="festival-status">
	<!-- thif 구문 사용.... 현재 날짜 가져와서 축제 날짜와 비교.. -->
		<span class="fsatus" th:if="${today} >= ${festival.eventstartdate} and ${today} <= ${festival.eventenddate}">진행중</span>
		<span class="fsatus" th:if="${today} < ${festival.eventstartdate}">진행예정</span>
		<span class="fsatus" th:if="${today} > ${festival.eventenddate}">진행종료</span>
		
	</div>
	<div class="detail-title">
		<h1 th:utext="${festival.title}"></h1>
	</div>
	<div class="detail-basicInfo">
		<span class="festival-addr1" th:text="${festival.addr1}"></span> 
		<span class="festival-addr1" th:text="${#temporals.createDate(festival.eventstartdate,'yyyyMMdd') }+' ~ '+${#temporals.createDate(festival.eventenddate,'yyyyMMdd')}"></span>
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header  modal-title2">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Share Festival</h4>
	      </div>
	      <div class="modal-body mbody1">
	        <a class="share-icon twitter" onClick="shareTwitter()"><i class="bi bi-twitter share-icon-i"></i>
	        <span class="icon-text">Twitter</span></a>
	        <a class="share-icon facebook" onClick="shareFacebook()"><i class="bi bi-facebook share-icon-i"></i>
	        <span class="icon-text" >Facebook</span></a>
	        <a class="share-icon kakao" onClick="shareKakao()">  
		        <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
			    	 alt="카카오톡 공유 보내기 버튼" class="share-icon-i" style="width: 50px;"/><span class="icon-text" >Kakao</span>
    	 	</a>	 	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	<!-- Modal End -->
	
	<div class="header--info">
		<span class="header--info-text" th:utext="${info['infotext']}"></span>
	</div>
	<div class="detail-icon">
		<a class="heart dicon" onClick="registerWish()"><i class="bi bi-heart"></i></a>
		<span class="dicon" ata-toggle="modal " data-target="#myModal"><a class="share"  ><i class="bi bi-share" ></i></a></span>	
	</div>
</section>
<!-- 상세 NAV -->
<section class="ftco-section2 container navbar navbar-expand-lg detail-navbar">
	<span class="nav-item dnav"><a href="#menu1" class="nav-link">사진보기</a></span>
	<span class="nav-item dnav"><a href="#menu2" class="nav-link">상세정보</a></span>
	<span class="nav-item dnav"><a href="#menu3" class="nav-link">축제톡</a></span>
</section>
<!-- 상세 사진 section -->
<section class="ftco-section2 container imgmenu" id="menu1">

	<div id="carouselExampleIndicators" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img th:src="${common['firstimage']}" class="d-block " alt="..." style="height: 100%;">
			</div>
			<div class="carousel-item" th:each="img:${img}">
				<img th:src="@{'/images/festival/'+${img.name}}"
					class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev control-opacity" type="button"
			data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"
			id="prev">
			<span class="carousel-control-prev-icon " aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next control-opacity" type="button"
			data-bs-target="#carouselExampleIndicators" data-bs-slide="next"
			id="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>
	<form class="filebox" id="file-form">
		<label for="file" id="label-file"><span class="file-span">직접 찍은 사진을 등록해주세요.</span><img src="https://cdn.visitkorea.or.kr/resources/images/sub/bg_pic_reg.jpg"></label>
			<input type="file" id="file" name="mf" onchange="filecheck()"> 
			<input name="fid" th:value="${common['contentid']}" hidden> 
			<input id="festivalimg" th:value="${common['firstimage']}" hidden>
	</form>
	
</section>

<!-- 상세정보 개요, 지도, 행사정보.... -->

<section class="ftco-section2 container" id="menu2">
	<h1>상세정보</h1>
	<div>
		<span th:utext="${common['overview']}"></span>
		<button id="moreInfo">더보기</button>
	</div>
	<div class="infoDetail hidden">
		<h3 th:utext="${info['infoname']}"></h3>
		<span th:utext="${info[infotext]}"></span>
		<h3 th:utext="${info['infoname2']}"></h3>
		<span th:utext="${info[infotext2]}"></span>
	</div>
	<div id="dmap"></div>
	<input hidden th:value="${festival.mapx}" id="lon"> <input
		hidden th:value="${festival.mapy}" id="lat">
	<div>
		<ul>
			<li><strong>시작일</strong> <span
				th:utext="${#temporals.createDate(intro['eventstartdate'],'yyyyMMdd')}"></span>
				<strong></strong></li>
			<li><strong>종료일</strong><span
				th:utext="${#temporals.createDate(intro['eventenddate'],'yyyyMMdd')}"></span></li>
			<li><strong>전화번호</strong><span th:utext="${festival.tel}"></span></li>
			<li><strong>홈페이지</strong><span th:utext="${common['homepage']}"></span></li>
			<li><strong>주소</strong><span th:utext="${festival.addr1}"></span></li>
			<li><strong>행사장소</strong><span th:utext="${intro['eventplace']}"></span></li>
			<li><strong>주최</strong><span th:utext="${intro['sponsor1']}"></span></li>
			<li><strong>주관</strong><span th:utext="${intro['sponsor2']}"></span></li>
			<li><strong>행사기간</strong><span th:utext="${intro['playtime']}"></span></li>
			<li><strong>행사요금</strong><span
				th:utext="${intro['usetimefestival']}"></span></li>
		</ul>
	</div>
</section>
<!-- 축제리뷰.. -->
<section class="ftco-section2 container" id="menu3">

	<div class="pt-5 mt-5">
		<h3 class="mb-5" style="font-size: 20px; font-weight: bold;">
			<span th:text="${rcount}"></span> Comments
		</h3>
		<ul class="comment-list">
			<li class="comment" th:each="review:${review}">
				<div class="vcard bio">
					<img src="images/person_1.jpg" alt="Image placeholder">
				</div>
				<div class="comment-body">
					<h3 th:text="${review.uid}+' | '+${review.username}">John Doe</h3>
					<div class="meta" th:text="${review.regdate}">September 11,
						2020 at 2:21pm</div>
					<p th:text="${review.contents}">Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Pariatur quidem laborum
						necessitatibus, ipsam impedit vitae autem, eum officia, fugiat
						saepe enim sapiente iste iure! Quam voluptas earum impedit
						necessitatibus, nihil?</p>
					<p>
						<a href="" class="reply">Delete</a>
					</p>
				</div>
			</li>

		</ul>

		<div class="comment-form-wrap pt-5">
			<h3 class="mb-5" style="font-size: 20px; font-weight: bold;">Leave
				a comment</h3>
			<form id="festival--review" class="p-5 bg-light" name="review">
				<div class="hidden-session">
					<input th:if="${session.loginuser} != null" class="form-control"
						name="uid" id="uid" th:value="${session.loginuser.id}" hidden>
					<input class="form-control" name="fid" id="fid"
						th:value="${festival.contentid}" hidden>
				</div>
				<div class="form-group">
					<label for="star">Choose Star *</label> <input class="form-control"
						type="text" id="star" name="star" hidden>
					<div>
						<span class="fa fa-star 0"></span> <span class="fa fa-star 1"></span>
						<span class="fa fa-star 2"></span> <span class="fa fa-star 3"></span>
						<span class="fa fa-star 4"></span> <span id="star-warnig"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="contents">Message *(inner 1000words)</label>
					<textarea name="contents" id="contents" cols="30" rows="10"
						class="form-control"></textarea>
				</div>
				<div class="form-group">
					<input type="button" id="sumbit-review" value="Post Comment"
						class="btn py-3 px-4 btn-primary">
				</div>

			</form>
		</div>
	</div>
</section>




<script src="/js/festival.js"></script>