<meta charset="utf-8">
<script src="js/area.js"></script>

<div class="hero-wrap js-fullheight"
	style="background-image: url('images/festival1.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div
			class="row no-gutters slider-text js-fullheight align-items-center"
			data-scrollax-parent="true">
			<div class="col-md-7 ftco-animate">
				<span class="subheading">SAMM FINAL PROJECT</span>
				<h1 class="mb-4">Search Festival & Enjoy Festival</h1>
				<p class="caps"><a href="/searchfestival">Go Serach Festival</a></p>
			</div>

		</div>
	</div>
</div>
<div class="container areacode">
	<form>
		<ul class="navbar-nav area--ul">
			<li class="area--li" th:each="area:${area}"><a class="area--a"
				th:text="${area['name']}" th:id="'area'+${area['code']}"
				th:onClick="'clickArea('+${area['code']}+');'">서울 <input hidden
					name="areacode" th:value="${area['code']}">
			</a></li>
		</ul>
	</form>
</div>

<section class="ftco-section2">
	<div class="container">
		<h2 class="festival--subject">현재 진행중인 축제</h2>
		<div class="row" id="festivalING">
			<div class="col-md-4 ftco-animate" th:each="list:${festival}">
				<div class="project-wrap">
					<a class="img" th:if="${list.firstimage} != null"
						th:style="'background-image:url('+@{${list.firstimage}}+');'">
						<span class="price">진행중</span>
					</a> <a class="img" th:unless="${list.firstimage} != null"
						th:style="'background-image:url('+@{/images/noimage.jpg}+');'">
						<span class="price">진행중</span>
					</a>
					<div class="text p-4">
						<span class="days"><span th:text="${#temporals.createDate(list.eventstartdate,'yyyyMMdd')}"></span>
							~ <span th:text="${#temporals.createDate(list.eventenddate,'yyyyMMdd')}"></span></span>
						<h3>
							<a th:href="@{/detail(contentid=${list.contentid})}"
								th:text="${list.title}"><input name="contentid" hidden
								th:value="${list.contentid}">Banaue Rice Terraces</a>
						</h3>
						<p class="location">
							<span class="fa fa-map-marker"></span><span
								th:text="${list.addr1}"></span>
						</p>
						<!--
 						<ul>
							<li><span class="flaticon-shower"></span>2</li>
							<li><span class="flaticon-king-size"></span>3</li>
							<li><span class="flaticon-mountains"></span>Near Mountain</li>
						</ul>
						 -->

					</div>
				</div>
			</div>
		</div>

	</div>
</section>


