<style>
</style>
<script src="/js/register.js"> </script>

<meta charset="UTF-8">
<section class="hero-wrap hero-wrap-2 js-fullheight"
	style="background-image: url('/images/festival13.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div class="no-gutters slider-text js-fullheight loginpage">
			<div class="login--form">
				<form class="user">
					<div class="inputform" id="id-div">
						<span id="id-span" class="registerText">*아이디를 입력해주세요.</span><input type="text"
							class="registerInput" placeholder="ex) abc1234"
							name="id">
						<!-- <div class="alert alert-danger" id="idCheckDiv"></div> -->
					</div>

					<div class="inputform hidden" id="pwd-div">
						<span id="pwd-span" class="registerText">*비밀번호를 입력해주세요.</span><input
							type="password" class="registerInput"
							placeholder="ex) abc123!@" name="pwd">
					</div>
					
					<div class="inputform hidden" id="vpwd-div">
						<span id="vpwd-span" class="registerText">*비밀번호 확인</span><input
							type="password" class="registerInput" name="vpwd"
							placeholder="비밀번호를 다시 입력해주세요." >
					</div>

					<div class="inputform hidden" id="name-div">
						<span id="name-span" class="registerText">*이름을 입력해주세요.</span><input type="text"
							class=" registerInput" placeholder="ex) 홍길동"
							name="name">
					</div>
					<div class="inputform hidden" id="email-div">
						<span id="email-span" class="registerText">*이메일을 입력해주세요.</span><input type="text"
							class="registerInput"
							placeholder="ex)abc1234@naver.com" name="email">
					</div>
					<div class="inputform hidden" id="addr-div">
						<span id="addr-span" class="registerText">주소를 입력해주세요.</span><input type="text"
							class="registerInput" placeholder="ex) 부산시 사상구"
							name="address">
					</div>

					<div class="inputform hidden" id="phone-div">
						<span id="phone-span" class="registerText">전화번호를 입력해주세요.</span><input type="text"
							class="registerInput"
							placeholder="ex) 010-1234-1234" name="phone">
					</div>
					<div class="inputform hidden" id="gender-div">
						<span id="gender-span" class="registerText">성별 입력해주세요.</span> <select
							class="registerInput" name="gender">
							<option value="여성">여성</option>
							<option value="남성">남성</option>
						</select>
					</div>
				</form>
					<div id="btn--div">
						<button id="nextbtn" href="#" class="inputbtn">NEXT</button>
						<button id="prevbtn" href="#" class="inputbtn hidden">PREV</button>
					</div>
					<button id="registerbtn" href="#"
						class="btn btn-primary btn-user btn-block" disabled> REGISTER </button>
				
			</div>
		</div>
	</div>
</section>
