<meta charset="UTF-8">
<script src="/js/forget.js"></script>
<section class="hero-wrap hero-wrap-2 js-fullheight"
	style="background-image: url(/images/festival9.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="no-gutters slider-text js-fullheight loginpage">
			<div class="login-header">
				<h2 class="login-header-main">SAMM</h2>
				<h4 class="login-header-sub">Find Password</h4>
			</div>
			<div class="login--form">
				<form id="forget_form">
					<div>
						<div>
							<input type="text" class="login-input" id="id" placeholder="Please Write Your ID"
								name="id">
						</div>
					</div>
					<div>
						<div>
							<input type="text" class="login-input" id="name"
								placeholder="Please Write Your Name" name="name">
						</div>
					</div>
				</form>
				<div class="btn-div">
					<div class="loginbtndiv">
						<button id="find_bt" class="btn btn-default login-btn">Find</button>
					</div>

					<div class="loginbtndiv">
						<span id="completeMsg"></span>
					</div>

				</div>

			</div>
		</div>
		<div class="col-md-9 ftco-animate pb-5 text-center"></div>
	</div>
</section>