
 <div class="row">

	<div class="col-md-6 grid-margin stretch-card">
     <div class="card">
       <div class="card-body">
         <h4 class="card-title">Default form</h4>
         <p class="card-description">
           Basic form layout
         </p>
         
       </div> <!-- card-body -->
     </div>
   </div>

	<div class="col-md-6 grid-margin stretch-card">
     <div class="card">
       <div class="card-body">
         <h4 class="card-title">Default form</h4>
         <p class="card-description">
           Basic form layout
         </p>

       </div>
     </div>
   </div>
</div>