
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/detail.css">

	<script>
	$(document).ready(
			function() {
				$('#deleteBtn').click(function(e) {
					if (confirm("삭제하시겠습니까?")){
						var bno = $('#bno').val()
					location.href = '/board/remove?bno=' + bno;
					e.preventDefault();
					}
				});

				$('#reviseBtn').on("click", function(e) {
					if (confirm("수정하시겠습니까?")){
						var bno = $('#bno').val()
					location.href = '/board/revise?bno=' + bno;
					e.preventDefault();
					}else{
						
					}
				});
				$('#sendBtn').click(function() {
							
							if ($('#writerid').val() == null
									|| $('#writerid').val() == "") {
								alert("login후 이용 가능합니다.")

							} else {
								
								if ($('textarea[name="comment"]').val() == "") {
									alert("내용 입력해주세요.");
									$("#comment").focus();
									return false;
								}
								
								$('#cpost').attr({
									'method' : 'post',
									'action' : '/board/cwrite'
								});
								$('#cpost').submit();
								
							}

						});

			});

	function CdeleteBtn(cno,bno,commenter){
		if (confirm("삭제하시겠습니까?")){
			$.ajax({
				url: "/cremove",
				data: { 
					"cno": cno,
					"bno": bno
				},
				success: function(data) {
					alert(data);
					$('#reviewlist' + cno).remove();
				}
			})
		}else{
			
		}
	}
</script>
<!-- END nav -->

<section class="hero-wrap hero-wrap-2 js-fullheight"
	style="background-image: url('/images/festival13.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div
			class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<p class="breadcrumbs">
					<span class="mr-2"><a href="/">Home <i
							class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a
						href="/board">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Blog
						Single <i class="fa fa-chevron-right"></i>
					</span>
				</p>
				<h1 class="mb-0 bread bdeatial" th:text="${dp.title}">Blog Details</h1>
				<span class="subbread" th:text="${dp.writer}"></span> 
				<span class="subbread" th:text="' | '+${#dates.format(dp.reg_date,'yyyy.MM.dd. hh:mm')}"></span>
			</div>
			
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 ftco-animate py-md-5 mt-md-5" id="post">
				<input th:if="${session.loginuser} != null" name="writerid"
					th:value="${session.loginuser.id}" hidden id="writerid">
					
				<div class="tagcloud" 
					th:if="${session.loginuser} != null and ${session.loginuser.id} == ${dp.writer}">
					<button id="deleteBtn" class="btn btn-default">delete</button>
				</div>
				
				<!-- main contents -->
			<!-- 	<h2 class="mb-3 boardSubject" th:text="${dp.title}">제목</h2> -->
				<p th:utext="${dp.content}">내용.</p>
						
				<form id="titleform" class="tag-widget post-tag-container">

					<input th:value="${dp.bno}" name="bno" hidden id="bno">
					글번호:<a th:text="${dp.bno}">글번호</a> 조회수:<a th:text="${dp.view_cnt}">조회수</a>
				</form>
				
				


					
					
					<!-- omment-form -->
						
					<div class="comment-form-wrap pt-5 commentdiv">
						<h3 class="mb-5 commentcnt" style="font-size: 20px; font-weight: bold;">Comments</h3>

						<form class="p-5 bg-light" id="cpost">

							<!-- 댓글폼 -->
							<div class="form-group">
								<input th:value="${dp.bno}" name="bno" hidden id="cbno">
								<input th:if="${session.loginuser} != null" name="commenter"
									th:value="${session.loginuser.id}" hidden id="commenter">
								<label for="message">Message</label>
								<textarea id="comment" name="comment" cols="30" rows="10"
									class="form-control" placeholder="로그인후 소중한 댓글을 남겨주세요."></textarea>
							</div>
							<div class="form-group">
								<!-- <input type="submit" value="Post Comment"
								class="btn py-3 px-4 btn-primary"> -->
								<button id=sendBtn type="button"
									class="btn py-3 px-4 btn-primary">Post Comment</button>
							</div>

						</form>
					</div>
					
					<!-- comment List -->	
				<div class="pt-5 mt-5">		
					
					<ul class="comment-list">
						<li th:id="'reviewlist'+${review.cno}"
							th:class="'comment'+' '+'comment'+${reviewStat.index}"
							th:each="review:${clist}"><input hidden
							th:value="${reviewStat.size}" id="size">
							<div class="vcard bio">
							<img th:if="${review.profile_img} == null"
								th:src="@{/images/noimagep.png}" alt="Image placeholder"> 
							<img th:unless="${review.profile_img} == null"
								th:src="@{'/images/'+${review.profile_img}}" alt="no image">
							</div>
							<div class="comment-body">
								<div class="btn-body">
								<a th:if="${session.loginuser} != null and ${session.loginuser.id} == ${review.commenter}"
								   th:onClick="'updateReview('+${review.cno}+','+${reviewStat.index}+')'"> 수정</a> 
								<a th:if="${session.loginuser} != null and ${session.loginuser.id} == ${review.commenter}"
									th:onclick="CdeleteBtn([[${review.cno}]],[[${review.bno}]],[[${review.commenter}]])">삭제</a>
								</div>
								<h3 th:text="${review.name}">John Doe</h3>
									<span th:if="${review.up_date} == null" class="commentDate meta"
									th:text="${#dates.format(review.reg_date,'M월dd일 hh시mm분')}"
									style="display: inline"> </span> <span
									th:unless="${review.up_date} == null" class="commentDate meta"
									th:text="${#dates.format(review.up_date,'yyyy-MM-dd')}"
									style="display: inline"></span>
								<form id="reiew-form">
									<p class="commnetText" th:id="'commnetText'+${review.cno}"
										th:text="${review.comment}"></p>
									<textarea th:id="'comment-textarea'+${review.cno}"
										class="comment-textarea hidden" name="contents"
										th:text="${review.comment}"></textarea>
									<input th:value="${review.cno}" name="cno" hidden> 
								 	<input name="commenter" id="uid" th:value="${review.commenter}" hidden>
								</form>
							</div></li>
			
					</ul>
				
					
					
					
				</div>
					

			</div>
		</div>
		
		
		</div>
</section>








