<meta charset="utf-8">

<!-- include summernote css/js -->
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
-

<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>

<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
<link rel="stylesheet" href="/css/board.css">

<section class="hero-wrap hero-wrap-2 js-fullheight"
	style="background-image: url('/images/festival9.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div
			class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<p class="breadcrumbs">
					<span class="mr-2"><a href="/">Home <i
							class="fa fa-chevron-right"></i></a></span> <span>Blog <i
						class="fa fa-chevron-right"></i></span>
				</p>
				<h1 class="mb-0 bread">Bloig Write</h1>
			</div>
		</div>
	</div>
</section>


<div class="container">
	<div class="pt-5 mt-5">	
		<form id="post">
			<div class="form-group">
				<input type="text" placeholder="이곳에 제목을 입력 하세요."
					class="form-control form-control-user write-title" name="title" id="title">
					
				<textarea id="summernote" name="content"></textarea>
				
				<input th:if="${session.loginuser} != null" name="writerid"
					th:value="${session.loginuser.id}" hidden id="writerid">
			</div>
		</form>
		<a id="register" href="#" class="btn btn-primary btn-user btn-block"
			onClick="boardRegister()">REGISTER</a>
	</div>
</div>
<script>
	function uploadSummernoteImageFile(file, editor) {
		data = new FormData();
		data.append("file", file);
		console.log(data);
		console.log(file);
		$.ajax({
			data : data,
			type : "post",
			url : "/uploadSummernoteImageFile",
			contentType : false,
			enctype : 'multipart/form-data',
			processData : false,
			success : function(data) {
				//항상 업로드된 파일의 url이 있어야 한다.
				$('.note-editable').append('<img src='+data.url+' style="width:50%;" >' + '<p> </p>');
				console.log("contents::"+$('textarea[name="content"]').val())
			}
		});
	};

	function boardRegister() {
		if ($('input[name="title"]').val() == "") {
			alert("제목 입력해주세요.");
			$("#title").focus();
			return false;
		}
		if ($('textarea[name="content"]').val() == "") {
			alert("내용 입력해주세요.");
			$("#content").focus();
			return false;
		}

		$('#post').attr({
			'method' : 'post',
			'action' : '/board/writeimpl'
		});
		$('#post').submit();
	}
	$('#summernote').summernote({
		height : 750, // 에디터 높이
		minHeight : null, // 최소 높이
		maxHeight : null, // 최대 높이
		focus : true, // 에디터 로딩후 포커스를 맞출지 여부
		lang : "ko-KR", // 한글 설정
		callbacks : { //여기 부분이 이미지를 첨부하는 부분
			onImageUpload : function(files) {
				uploadSummernoteImageFile(files[0], this);
				/* for (var i = files.length - 1; i >= 0; i--) {
				uploadSummernoteImageFile(files[i],
				this); 
				}*/
			}
		}

	});

	//서머노트에 text 쓰기
	//$('#summernote').summernote('insertText');
	// 서머노트 쓰기 비활성화
	//$('#summernote').summernote('disable');

	// 서머노트 쓰기 활성화
	//$('#summernote').summernote('enable');

	// 서머노트 리셋
	//$('#summernote').summernote('reset');

	// 마지막으로 한 행동 취소 ( 뒤로가기 )
	//$('#summernote').summernote('undo');
	// 앞으로가기
	//$('#summernote').summernote('redo');
</script>