<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.AdmintblMapper">

	<select id="select" parameterType="String" resultType="admintblVo">
		SELECT * FROM admintbl where id=#{id}
	</select>
	<select id="selectAll" resultType="admintblVo">
		SELECT * FROM admintbl
	</select>

	<insert id="insert" parameterType="AdmintblVo">
		INSERT INTO admintbl VALUES (#{id}, #{pwd}, #{name}, #{email}, #{address}, #{phone})

<!-- 		INSERT INTO admintbl VALUES (#{id},#{pwd},#{name}
		<choose>
			<when test="address == null or address.equals('')">,null</when>
			<otherwise>
				,#{address}
			</otherwise>
		</choose>
		<choose>
			<when test="phone == null or phone.equals('')">,null</when>
			<otherwise>
				,#{phone}
			</otherwise>
		</choose>
		) -->
	</insert>
	<update id="update" parameterType="admintblVo">
		UPDATE admintbl
		<trim prefix="SET" suffixOverrides=",">
			<choose>
				<when test="pwd == null or pwd.equals('')"></when>
				<otherwise>
				pwd=#{pwd},
				</otherwise>
			</choose>
			<choose>
				<when test="name == null or name.equals('')"></when>
				<otherwise>
				name=#{name},
				</otherwise>
			</choose>
			<choose>
				<when test="address == null or address.equals('')"></when>
				<otherwise>
				address=#{address},
				</otherwise>
			</choose>
			<choose>
				<when test="phone == null or phone.equals('')"></when>
				<otherwise>
				phone=#{phone},
				</otherwise>
			</choose>
		</trim>
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM admintbl WHERE id=#{id}
	</delete>
	
	

	<select id="idCheck" parameterType="String" resultType="java.lang.String">
		SELECT id
		FROM users WHERE id=#{id}
	</select>
	
	<select id="selectlist" resultType="AdmintblVo" parameterType="map">
		SELECT * FROM
		( SELECT @rownum:=@rownum+1 as rn, A.* 
  			FROM admintbl A, (SELECT @ROWNUM := 0) R
  		) list
		WHERE rn between (#{section}-1)*100 + (#{pageNum}-1)*10+1 
		         and (#{section}-1)*100 + #{pageNum} * 10     
	</select>
		
	<select id="getTotalNum" resultType="int">
		select count(*) from admintbl  
	</select>	
	
	<select id="asearch" resultType="AdmintblVo" parameterType="map">
		SELECT * FROM admintbl WHERE ${select} LIKE CONCAT('%',#{txt},'%')
	</select>

</mapper>