<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.BordMapper">
	<select id="select" parameterType="int" resultType="bordVo">
		SELECT * FROM bord pnum=#{pnum}
	</select>
	<select id="selectall" resultType="bordVo">
		SELECT * FROM bord
	</select>
	<select id="list" parameterType="int" resultType="bordVo">
		SELECT pnum,title,uid,views,regdate from bord LIMIT (#{page} - 1) * 20, 20
	</select>

	<insert id="insert" parameterType="bordVo" useGeneratedKeys="true" keyProperty="pnum">
			INSERT INTO bord VALUES (NULL,#{contents},#{title},now(),now(),0,#{uid})
	</insert>
	<update id="update" parameterType="bordVo">
		UPDATE bord SET
		<choose>
			<when test="contents == null or contents.equals('')"></when>
			<otherwise>
				contents=#{contents},
			</otherwise>
		</choose>
		<choose>
			<when test="title == null or title.equals('')"></when>
			<otherwise>
				title=#{title},
			</otherwise>
		</choose>
		udate=now()
		WHERE pnum=#{pnum}
	</update>
	<update id="views" parameterType="int">
		UPDATE bord SET views=views+1 WHERE pnum=#{pnum}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM bord WHERE pnum=#{pnum}
	</delete>
	<select id="selectbyuid" parameterType="Map" resultType="bordVo">
		SELECT * FROM bord WHERE uid=#{uid} LIMIT (#{page} - 1) * 20, 20
	</select>

	<select id="selectbytitle" parameterType="Map" resultType="bordVo">
		SELECT * FROM bord
		<if test="search != ' '">
			WHERE title LIKE '%' || #{search} || '%'
		</if>
		LIMIT (#{page} - 1) * 20, 20
	</select>

	<select id="selectbycontents" parameterType="Map" resultType="bordVo">
		SELECT * FROM bord
		<if test="search != ' '">
			WHERE contents LIKE '%' || #{search} || '%'
		</if>
		LIMIT (#{page} - 1) * 20, 20
	</select>

</mapper>