<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.BordMapper">
	<select id="select" parameterType="int" resultType="bordVo">
		SELECT * FROM
		bord where pnum=#{pnum}
	</select>
	<select id="selectAll" resultType="bordVo">
		SELECT * FROM bord
	</select>
	<select id="list" parameterType="int" resultType="bordVo">
		<bind name="key_offset" value="(page-1)*20"></bind>
		SELECT pnum,title,uid,views,regdate from bord order by pnum desc LIMIT
		#{key_offset}, 20
	</select>

	<insert id="insert" parameterType="bordVo"
		useGeneratedKeys="true" keyProperty="pnum">
		INSERT INTO bord VALUES
		(NULL,#{contents},#{title},now(),now(),0,#{uid})
	</insert>
	<update id="update" parameterType="bordVo">
		UPDATE bord SET
		<choose>
			<when test="contents == null or contents.equals('')"></when>
			<otherwise>
				contents=#{contents},
			</otherwise>
		</choose>
		<choose>
			<when test="title == null or title.equals('')"></when>
			<otherwise>
				title=#{title},
			</otherwise>
		</choose>
		udate=now()
		WHERE pnum=#{pnum}
	</update>
	<update id="views" parameterType="int">
		UPDATE bord SET views=views+1
		WHERE pnum=#{pnum}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM bord WHERE
		pnum=#{pnum}
	</delete>
	<select id="selectByUid" parameterType="Map" resultType="bordVo">
		<bind name="key_offset" value="(page-1)*20"></bind>
		SELECT *
		FROM bord WHERE uid=#{uid} order by pnum desc LIMIT
		#{key_offset}, 20
	</select>

	<select id="selectByTitle" parameterType="Map"
		resultType="bordVo">
		<bind name="key_offset" value="(page-1)*20"></bind>
		SELECT * FROM bord
		<if test='title != ""'>
			WHERE title LIKE CONCAT('%', #{title}, '%')
		</if>
		order by pnum desc LIMIT #{key_offset}, 20
	</select>

	<select id="selectByContents" parameterType="Map"
		resultType="bordVo">
		<bind name="key_offset" value="(page-1)*20"></bind>
		SELECT * FROM bord
		<if test='contents != ""'>
			WHERE contents LIKE CONCAT('%', #{contents}, '%')
		</if>
		order by pnum desc LIMIT #{key_offset}, 20
	</select>

</mapper>