<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.CommentMapper">
	
	<update id="deleteAll" parameterType="int">
		UPDATE comment SET del_date = now()
		WHERE bno = #{bno}
	</update>

	<select id="count" parameterType="int" resultType="int">
		SELECT count(*) FROM comment
		WHERE bno = #{bno}
	</select>

	<update id="delete" parameterType="map">
		UPDATE comment SET del_date = now() WHERE cno = #{cno}
		
	</update>

	<insert id="insert" parameterType="CommentVo">
		INSERT INTO comment
		(bno, comment, commenter, reg_date)
		VALUES
		(#{bno}, #{comment}, #{commenter}, now())
	</insert>

	<select id="selectAll" parameterType="int"
		resultType="CommentVo">
		SELECT cno, bno, comment, commenter, reg_date, up_date
		FROM comment
		WHERE bno = #{bno} and del_date is null
		ORDER BY reg_date ASC, cno ASC
		
	</select>

	<select id="select" parameterType="int" resultType="CommentVo">
		SELECT cno, bno, comment, commenter, reg_date, up_date
		FROM comment
		WHERE cno = #{cno} and del_date is null
	</select>

	<update id="update" parameterType="CommentVo">
		UPDATE comment
		SET comment = #{comment}
		, up_date = now()
		WHERE cno = #{cno}
	</update>
</mapper>