<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.FestivalMapper">
	<select id="select" parameterType="int" resultType="FestivalVo">
		SELECT f.contentid,f.title,f.areacode,f.eventstartdate,f.eventenddate,f.tel,f.addr1,f.mapx,f.mapy,f.createdtime,f.updatedate,f.firstimage,f.firstimage2,f.mappoint,left(d.infotext,100) as infotext FROM festival f 
		left outer join detailinfo d on f.contentid = d.contentid WHERE d.contentid=#{contentid}
	</select>

	<select id="selectAll" resultType="FestivalVo">
		SELECT * FROM festival
	</select>

	<select id="selectOne" resultType="FestivalVo" parameterType="int">
		SELECT * FROM festival WHERE contentid=#{contentid}
	</select>

	<select id="getContentId" resultType="String">
		SELECT contentid FROM festival 
	</select>

	<select id="searchFestival" parameterType="Map" resultType="FestivalVo">
		<bind name="key_offset" value="(@java.lang.Integer@valueOf(page)-1)*6" />
		SELECT * FROM festival WHERE
		<choose>
			<when test="areacode == null or areacode.equals('')"></when>
			<otherwise>
				areacode=#{areacode} and
			</otherwise>
		</choose>
		eventstartdate <![CDATA[ <= #{eventstartdate}]]> and eventenddate <![CDATA[ >= #{eventenddate}]]>
		and addr1 not like '%온라인%' and mapx is not null
		order by contentid desc LIMIT #{key_offset}, 6
	</select>
	
	<select id="searchFestival2" parameterType="Map" resultType="FestivalVo">
		SELECT * FROM festival WHERE
		areacode=#{areacode} AND
		eventstartdate <![CDATA[ <= #{eventstartdate}]]> AND
		eventenddate <![CDATA[ >= #{eventenddate}]]>
		ORDER BY eventstartdate desc
	</select>
	
	
	
	<select id="searchKeyword" parameterType="HashMap" resultType="FestivalVo">
		SELECT * FROM festival WHERE title LIKE CONCAT('%',#{keyword},'%') LIMIT ${page}, 12
	</select>
	
	<select id="searchKeywordCount" parameterType="String" resultType="int">
		SELECT CEILING(count(*)/12) FROM festival WHERE title LIKE CONCAT('%',#{keyword},'%')
	</select>
	
	<select id="getAvgStars" resultType="FestivalVo">
		SELECT AVG(r.star) AS avgstar FROM festival f
		INNER JOIN review r ON f.contentid = r.fid
		GROUP BY f.contentid;
	</select>

	<select id="searchMap" parameterType="Map" resultType="FestivalVo">
		<bind name="key_offset" value="(@java.lang.Integer@valueOf(page)-1)*12" />
		<bind name="lat" value="@java.lang.Double@valueOf(mapy)" />
		<bind name="lng" value="@java.lang.Double@valueOf(mapx)" />
		SELECT f.contentid,f.title,f.areacode,f.eventstartdate,f.eventenddate,f.tel,f.addr1,f.mapx,f.mapy,f.createdtime,f.updatedate,f.firstimage,f.firstimage2,f.mappoint,f.view_cnt,left(d.infotext,100) as infotext FROM festival f 
		left outer join detailinfo d on f.contentid = d.contentid
		WHERE eventstartdate <![CDATA[ <= #{eventstartdate}]]> and eventenddate <![CDATA[ >= #{eventenddate}]]>
		and addr1 not like '%온라인%' and mapx is not null
		<choose>
			<when test="keyword == null or keyword.equals('')"></when>
			<otherwise>
				and concat(title,addr1) like concat('%',#{keyword},'%')
			</otherwise>
		</choose>
		ORDER BY ST_DISTANCE_SPHERE(ST_GeomFromText(concat('POINT(',#{mapy},' ',#{mapx},')'),4326), mappoint) asc
		LIMIT #{key_offset}, 12
	</select>
	<select id="countSearchMap" parameterType="Map" resultType="int">
		SELECT count(*) FROM festival WHERE
		eventstartdate <![CDATA[ <= #{eventstartdate}]]> and eventenddate <![CDATA[ >= #{eventenddate}]]>
		and addr1 not like '%온라인%' and mapx is not null
		<choose>
			<when test="keyword == null or keyword.equals('')"></when>
			<otherwise>
				and concat(title,addr1) like concat('%',#{keyword},'%')
			</otherwise>
		</choose>
	</select>

	<insert id="insert" parameterType="FestivalVo" useGeneratedKeys="true" keyProperty="contentid">
		INSERT INTO festival VALUES (#{contentid},#{title},#{areacode},#{eventstartdate},#{eventenddate},
		#{tel},#{addr1},#{mapx},#{mapy},#{createdtime},#{firstimage},#{firstimage2})
	</insert>

	<insert id="apiinsert" parameterType="Map" useGeneratedKeys="true" keyProperty="contentid,mapx,mapy">
		INSERT INTO festival (contentid,title,areacode,eventstartdate,eventenddate,tel,addr1,mapx,mapy,createdtime,firstimage,firstimage2)
		VALUES (#{contentid},#{title},#{areacode},#{eventstartdate},#{eventenddate},
		#{tel},#{addr1},#{mapx},#{mapy},#{createdtime},#{firstimage},#{firstimage2})
		ON DUPLICATE KEY UPDATE title=#{title},areacode=#{areacode},eventstartdate=#{eventstartdate},
		eventenddate=#{eventenddate},tel=#{tel},addr1=#{addr1},mapx=#{mapx},mapy=#{mapy},updatedate=SYSDATE(),
		firstimage=#{firstimage}, firstimage2=#{firstimage2}
	</insert>

	<update id="update" parameterType="FestivalVo">
		Update festival SET name=#{name}, area=#{area}, sdate=#{sdate}, edate=#{edate}
		, contents=#{contents}, manage=#{manage}, host=#{host}, donate=#{donate}, phone=#{phone}
		, homepage=#{homepage}, relatedInfo=#{relatedInfo}, address1=#{address1}, address2=#{address2}
		, latitude=#{latitude}, longitude=#{longitude},udate=SYSDATE() WHERE ID =#{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM festival WHERE
		id=#{id}
	</delete>
	
    <update id="increaseViewCnt" parameterType="int">
        UPDATE festival
        SET   view_cnt = view_cnt + 1
        WHERE contentid = #{contentid}
    </update>
	
</mapper>
