<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.ReviewMapper">
	<select id="select" parameterType="int" resultType="ReviewVo">
		SELECT * FROM review where pnum=#{pnum}
	</select>
	<select id="getfestivalreview" parameterType="int" resultType="ReviewVo">
		SELECT r.pnum,r.contents,r.star,r.regdate,r.uid,r.fid,u.name as username FROM review r
		INNER JOIN users u ON r.uid = u.id
		where fid = #{fid}
	</select>
	<select id="getCount" resultType="int">
		SELECT count(*) From review where fid = #{fid}
	</select>
	<select id="selectAll" resultType="ReviewVo">
		SELECT * FROM review
	</select>
	<select id="list" parameterType="int" resultType="ReviewVo">
		SELECT * FROM review LIMIT 0, 5
	</select>

	<insert id="insert" parameterType="ReviewVo" useGeneratedKeys="true" keyProperty="pnum">
			INSERT INTO review VALUES (NULL,#{contents},#{star},sysdate(),null,#{uid},#{fid})
	</insert>
	<update id="update" parameterType="ReviewVo">
		UPDATE review SET
		<choose>
			<when test="contents == null or contents.equals('')"></when>
			<otherwise>
				contents=#{contents},
			</otherwise>
		</choose>
		<choose>
			<when test="star == null or star.equals('')"></when>
			<otherwise>
				star=#{star},
			</otherwise>
		</choose>
		udate=now()
		WHERE pnum=#{pnum}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM review WHERE pnum=#{pnum}
	</delete>
	<select id="selectByUid" parameterType="String" resultType="ReviewVo">
		SELECT * FROM review WHERE uid=#{uid}
	</select>

	<select id="selectByContents" parameterType="String" resultType="ReviewVo">
		<bind name="key_offset" value="(page-1)*20"></bind>
		SELECT * FROM review
		<if test='contents != ""'>
			WHERE contents LIKE CONCAT('%', #{contents}, '%')
		</if>
		order by pnum desc LIMIT #{key_offset}, 20
	</select>
</mapper>