<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.UsersMapper">

	<select id="select" parameterType="String" resultType="UsersVo">
		SELECT *
		FROM users WHERE id=#{id}
	</select>
	<select id="selectAll" resultType="UsersVo">
		SELECT * FROM users
	</select>

	<insert id="insert" parameterType="UsersVo">
		INSERT INTO users VALUES (#{id},#{pwd},#{name},#{email},#{address},#{phone},#{gender})
		
	</insert>
	
	<update id="update" parameterType="UsersVo">
		UPDATE users 
		<trim prefix="SET" suffixOverrides=",">
			<choose>
				<when test="pwd == null or pwd.equals('')"></when>
				<otherwise>
					pwd=#{pwd},
				</otherwise>
			</choose>
			<choose>
				<when test="name == null or name.equals('')"></when>
				<otherwise>
					name=#{name},
				</otherwise>
			</choose>
			<choose>
				<when test="email == null or address.equals('')"></when>
				<otherwise>
					email=#{email},
				</otherwise>
			</choose>
			<choose>
				<when test="address == null or address.equals('')"></when>
				<otherwise>
					address=#{address},
				</otherwise>
			</choose>
			<choose>
				<when test="phone == null or phone.equals('')"></when>
				<otherwise>
					phone=#{phone},
				</otherwise>
			</choose>
			<choose>
				<when test="gender == null or gender.equals('')"></when>
				<otherwise>
					gender=#{gender}
				</otherwise>
			</choose>
		</trim>
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM users WHERE
		id=#{id}
	</delete>
	
	<select id="idCheck" parameterType="String" resultType="java.lang.String">
		SELECT id
		FROM users WHERE id=#{id}
	</select>
	
	<select id="getTotalNum" resultType="int">
		select count(*) from users  
	</select>
	
	<select id="msearch" resultType="UsersVo" parameterType="map">
		SELECT * FROM users WHERE ${select} LIKE CONCAT('%',#{txt},'%')
	</select>	
	
	<select id="selectlist" resultType="UsersVo" parameterType="map">
		SELECT * FROM
		( SELECT @rownum:=@rownum+1 as rn, A.* 
  			FROM users A, (SELECT @ROWNUM := 0) R
  		) list
		WHERE rn between (#{section}-1)*100 + (#{pageNum}-1)*10+1 
		         and (#{section}-1)*100 + #{pageNum} * 10     
	</select>
	
	<insert id="kakaoLogin" parameterType="UsersVo">
		INSERT INTO users (id,name,email,gender,profile_img)
		VALUES (#{email},#{name},#{email},#{gender},#{profile_img})	
		ON DUPLICATE KEY UPDATE name=#{name}, email=#{email},gender=#{gender},
		profile_img=#{profile_img}
	</insert>
	
</mapper>