<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samm.mapper.WishMapper">
	
	<select id="select" parameterType="int" resultType="WishVo">
		SELECT * FROM wish where id=#{id}
	</select>
	<select id="selectAll" resultType="WishVo">
		SELECT * FROM wish
	</select>
	
	<insert id="insert" parameterType="WishVo" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO wish VALUES (NULL,#{tablename},#{fid},#{uid},#{id2})
	</insert>
<!--	<update id="update" parameterType="WishVo">
		 	UPDATE wish SET tablename=#{tablename},fid=#{fid},uid=#{uid},id2=#{id2} WHERE id=#{id}
	</update> -->
	<delete id="delete" parameterType="int">
		DELETE FROM wish WHERE id=#{id}
	</delete>
	<select id="selectbyuid" parameterType="String" resultType="WishVo">
		SELECT * FROM wish WHERE uid=#{uid}
	</select>

	<select id="selectbyid2" parameterType="int" resultType="WishVo">
		SELECT * FROM wish WHERE id2=#{id2}
	</select>
	
</mapper>