.bdeatial{
	margin-bottom: 20px !important;
}
.subbread{
	color:white;
}

.commentdiv{
	border-top: 1px solid gray;
}

.row{
	justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}