 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    
html,
body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.detailMain {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	background: #fff;
	margin-top: 70px;
	height: 100vh;
	width: 100%;
}    

.festival-title{
	padding-top: 10px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 2em;
}

.festival-period{
	padding-bottom: 15px;
	font-size: 1.2em;
	font-weight: 400;
}

.festival--side-nav{
	padding: 10px 0;
	font-size: 1.5em;
}

.dactive{
	font-weight: bold;
	color:#fd7e14;
}

.common-info{
	display: flex;
	flex-direction: row;
}

.common-img{
	width: 350px;
	height: 350px;
}