.festival--subject {
	text-align: center;
}

.areacode {
	display: flex;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 1px solid black;
	justify-content: space-around;
	align-items: center;
}

.area--ul {
	display: flex;
	flex-direction: row;
}

.area--li {
	padding: 3px;
}

.nosearchtxt {
	text-align: center;
}

.area--a:hover {
	cursor: pointer;
}

.area--a:active {
	font-weight: bold;
	color: #fd7e14;
}

.active-area {
	font-weight: bold;
	color: #fd7e14;
}

.s003 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background-color: #a598ee;
	background-size: cover;
	background-position: center center;
	padding: 15px;
	width: 25rem;
}

.s003 form {
	width: 100%;
	max-width: 790px;
	margin-bottom: 0;
}

.s003 form .inner-form {
	background: #fff;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 0;
}

.s003 form .inner-form .input-field {
	height: 45px;
}

.s003 form .inner-form .input-field input {
	height: 100%;
	background: transparent;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px 32px;
	font-size: 16px;
	color: #555;

}

.s003 form .inner-form .input-field input.placeholder {
	color: #888;
	font-size: 16px;
}

.s003 form .inner-form .input-field input:-moz-placeholder {
	color: #888;
	font-size: 16px;
}

.s003 form .inner-form .input-field input::-webkit-input-placeholder {
	color: #888;
	font-size: 16px;
}

.s003 form .inner-form .input-field input:hover,
.s003 form .inner-form .input-field input:focus {
	box-shadow: none;
	outline: 0;
	border-color: #fff;
}

.s003 form .inner-form .input-field.first-wrap {
	width: 200px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.s003 form .inner-form .input-field.first-wrap .choices__inner {
	background: transparent;
	border-radius: 0;
	border: 0;
	height: 100%;
	color: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 30px;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	opacity: 1;
	color: #888;
}

.s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	color: #555;
}

.s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
	right: 30px;
	border-color: #e5e5e5 transparent transparent transparent;
}

.s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
	border: 0;
	background: #fff;
	padding: 20px 30px;
	margin-top: 2px;
	border-radius: 4px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
	padding-right: 0;
}

.s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
	background: #fff;
	color: #63c76a;
}

.s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
	color: #555;
	min-height: 24px;
}

.s003 form .inner-form .input-field.second-wrap {
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.s003 form .inner-form .input-field.third-wrap {
	width: 75px;
}

.s003 form .inner-form .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: #f15d30;
	transition: all .2s ease-out, color .2s ease-out;
}

.s003 form .inner-form .input-field.third-wrap .btn-search svg {
	width: 16px;
}

.s003 form .inner-form .input-field.third-wrap .btn-search:focus {
	outline: 0;
	box-shadow: none;
}

@media screen and (max-width: 992px) {
	/* .s003 form .inner-form .input-field {
		height: 50px;
	} */
}

@media screen and (max-width: 767px) {
	/* .s003 form .inner-form {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 20px;
	}

	.s003 form .inner-form .input-field {
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.s003 form .inner-form .input-field input {
		padding: 10px 15px;
	}

	.s003 form .inner-form .input-field.first-wrap {
		width: 100%;
		border-right: 0;
	}

	.s003 form .inner-form .input-field.first-wrap .choices__inner {
		padding: 10px 15px;
	}

	.s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
		right: 11.5px;
		border-color: #e5e5e5 transparent transparent transparent;
	}

	.s003 form .inner-form .input-field.second-wrap {
		width: 100%;
		margin-bottom: 30px;
	}

	.s003 form .inner-form .input-field.second-wrap input {
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	.s003 form .inner-form .input-field.third-wrap {
		margin-bottom: 0;
		width: 100%;
	} */
}

.s003 #map-searchlist {
	width: 100%;
	height: calc(100vh - 250px);;
	max-width: 790px;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

.s003 .l-card {
	margin-bottom: 0;
	background: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 0;
}



.s003 .l-card-left {
	margin: 0;
	padding: 0;
	position: relative;
    width: 85px;
    height: 70px;
	overflow: hidden;
}

.s003 .l-card-right {
	margin: 0;
	padding: 5px 0 5px 15px;
}

.s003 .l-card-noimage {
	margin: 0;
	padding: 5px 0 5px;
}

.s003 .l-card-firstimage {
	position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.s003 .l-card-txt.title {
	color: rgb(0, 0, 0);
	font-family: "Poppins", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.s003 .l-card-txt.location {
	color: #999999;
	font-family: "Poppins", Arial, sans-serif;
	font-size: 13px;
	line-height: 1.8;
	font-weight: 400;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 1px;
}

.s003 .inline {}

.s003 .inline:after {
	clear: both;
	display: block;
	content: ''
}

.s003 .l-card-txt.dbtable {
	background-color: white;
	color: rgb(0, 0, 0);
	font-family: "Poppins", Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	float: left;
	display: inline;
	margin-left: 1px;
}

.s003 .l-card-txt.ongoing {
	color: white;
	background-color: rgb(241, 93, 48);
	font-family: "Poppins", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	float: left;
	display: inline
}

.s003 .l-card-txt.days {
	color: rgb(241, 93, 48);
	font-family: "Poppins", Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	float: right;
	display: inline
}