html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.map-paintting {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	background: #fff;
	margin-top: 88.8px;
	height: calc(100vh - 88.8px);
	width: 100%;
	border: 1px solid black;
	position: relative;
}

#map-searchbox {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	align-items: center;
	z-index: 1;
}

#map-searchpager .block-27 ul li a:not(:hover) {
	background: white;
}

#map-kakao {
	width: inherit;
	height: inherit
}

.project-wrap.map-overlay {
	position: relative;
}

.project-wrap.map-overlay:after {
	content: "";
	position: absolute;
	left: 116px;
	bottom: -19px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
	z-index: 4;
}

.project-wrap.map-overlay .img {
	width: 270px;
	height: 0;
	z-index: 1
}

.project-wrap.map-overlay .p-4 {
	width: 270px;
	padding: 40px 1rem 0.5rem 1rem !important;
	overflow: hidden;
	margin-top: 40px;
}

.project-wrap.map-overlay .img .price {
	z-index: 5;
}

.project-wrap.map-overlay .text .days {
	font-size: 12px;
}

.project-wrap.map-overlay .location {
	margin-top: 0;
	margin-bottom: 0.3rem;
	padding: 0;
}

.project-wrap.map-overlay .text h3 {
	font-size: 23px;
	margin-bottom: 0;
	z-index: 3;
	animation: leftright 3s infinite alternate ease-in-out;
}

.project-wrap.map-overlay .text span {
	margin-top: 0.15rem;
	font-size: 12px;
}

.project-wrap.map-overlay .detail {
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 1rem;
	display: inline-block;
	padding: 0;
}

.project-wrap.map-overlay .detail::after {
	content: '...'
}

.project-wrap.map-overlay .btn-map-gobtn {
	display: block;
	color: white;
	font-weight: 600;
	background-color: #f15d30;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	z-index: 3;
}

.project-wrap.map-overlay .map-overlayclose {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	z-index: 3;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.project-wrap.map-overlay .detail-icon {
	margin: 0 auto;
	text-align: center;
}

.project-wrap.map-overlay .dicon {
	display: inline-block;
	margin: 2px 5px 0;
	padding: 2px 0 0;
	width: 25px;
	height: 25px;
}

.project-wrap.map-overlay .bi-heart {
	width: 25px;
	height: 25px;
}

.project-wrap.map-overlay .share {
	width: 25px;
	height: 25px;
}

@keyframes leftright {

	0%,
	20% {
		transform: translateX(0%);
		left: 0%;
	}

	80%,
	100% {
		transform: translateX(-120%);
		left: 120%;
	}
}